{% extends "base.html" %}

{% block content %}
    <h1>Edit process "{{ process_name }}" Links</h1>
    <form method = "post">
        <input type="hidden" name="form_name" value="submit_changes">
        <input type="submit" name="edit_links" class = "btn btn-success" value = "Save Changes">
    </form>
    <form method = "post">
        <input type="hidden" name="form_name" value="return_to_info">
        <input type="submit" name="edit_links" class = "btn btn-warning" value = "<">
    </form>
    <!--input form -->
    <div>
        <form method = 'POST' id = 'inputs_form'>
        <input type="hidden" name="form_name" value="remove_input">
        <h2> Inputs </h2>
        <table class = "table table-striped">
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Product Owner</th>
                <th>Product Author</th>
                <th>Delete</th>
            </tr>

            {% for product in inputs %}

                <tr>
                    <td>{{product.id}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.owner}}</td>
                    <td>{{product.created_by}}</td>
                    <td><input type="checkbox" name="removeinput" value={{ loop.index }}></td>
            {% endfor %}
            </tr>

        </table>
        <input type="submit" form = 'inputs_form' name="remove_selected" class = "btn btn-danger" value = "remove inputs">
    </form>
    <form action="" method="post" >
            <input type="hidden" name="form_name" value="add_input">
            {{ input_form.hidden_tag() }}
            <p>
                {{ input_form.product_id.label }}<br>
                {{ input_form.product_id(size=32) }}<br>
                {% for error in input_form.product_id.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                <p>{{ input_form.submit() }}</p>
            </p>
        </form>
    </div>
    <hr class="separator">

    <!--output form -->
    <div>
        <form method = 'POST' id = 'outputs_form'>
            <input type="hidden" name="form_name" value="remove_output">
            <h2> Outputs </h2>
            <table class = "table table-striped">
                <tr>
                    <th>Product ID</th>
                    <th>Product Name</th>
                    <th>Product Owner</th>
                    <th>Product Author</th>
                    <th>Delete</th>
                </tr>

                {% for product in outputs %}

                    <tr>
                        <td>{{product.id}}</td>
                        <td>{{product.name}}</td>
                        <td>{{product.owner}}</td>
                        <td>{{product.created_by}}</td>
                        <td><input type="checkbox" name="removeoutput" value={{ loop.index }}></td>
                {% endfor %}
                </tr>
            </table>
            <input type="submit" form = 'outputs_form' name="remove_selected" class = "btn btn-danger" value = "remove outputs">
        </form>

        <form action="" method="post" >
            <input type="hidden" name="form_name" value="add_output">
            {{ output_form.hidden_tag() }}
            <p>
                {{ output_form.product_id.label }}<br>
                {{ output_form.product_id(size=32) }}<br>
                {% for error in output_form.product_id.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                <p>{{ output_form.submit() }}</p>
            </p>
        </form>
    </div>

{% endblock %}