{% extends "base.html" %}

{% block content %}
    <h1>Product "{{ product['Product Name'] }}"</h1>
        {% for key in product%}
            <table class = "table table-striped">
            <tr>
                <th>{{key}}</th>
            </tr>
                {% if key in ['Output of', 'Input to'] %}
                        <td>
                            {% for value in product[key]%}
                                <a href="{{ url_for('process', process_id = value.process_id) }}">{{value.name + ', '}}</a>
                            {% endfor %}
                        </td>
                {% else %}
                    <td>{{product[key]}}</td>
                {% endif %}
            </table>
        {% endfor %}
{% endblock %}