{% extends "base.html" %}

{% block content %}
    <h1> My Processes</h1>
        <table class = "table table-striped">
            <tr>
                <th>Process ID</th>
                <th>Process Name</th>
                <th>Process Owner</th>
                <th>Process Author</th>
                <th></th>
                <th></th>
            </tr>
            {% for process in processes %}
                <tr>
                    <td><a href="process/{{process.id}}">{{process.id}}</a></td>
                    <td>{{process.name}}</td>
                    <td>{{process.owner}}</td>
                    <td>{{process.created_by}}</td>
                    <td><a href="edit_process/{{process.id}}" class="btn btn-deafult pullright">Edit</a></td>
                    <td><a href="#" class="btn danger pullright">Delete</a></td>
            {% endfor %}
            <tr/>


        <table/>


{% endblock %}